<!DOCTYPE html>
<html lang="en">
    <%- include("../header"); %>
    <body>

    <%- include("../menu"); %>
    <!-- Start your project here-->  

    <div class="container">
        <% if(result) { %>
        <div class="media p-4">
            <i class="fas fa-user fa-4x pr-4"></i>
            <div class="media-body">
                <h5 class="mt-0 font-weight-bold" id="nick"><%= result.nick %></h5>
                
                    Level <strong> <%= result.level %> </strong> - 
                    Chips <strong> <%= result.tokens %> </strong>
                
            </div>
        </div>

        <!--stats tab-->
        <ul class="nav nav-tabs" id="statsTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary"
              aria-selected="true">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="gameHistory-tab" data-toggle="tab" href="#gameHistory" role="tab" aria-controls="gameHistory"
              aria-selected="false">Game History</a>
          </li>
        </ul>
        

        <div class="tab-content mt-3 " id="statsTabContent">
          <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
            
            <%- include("./statsTab") %>

          </div>
          <div class="tab-pane fade" id="gameHistory" role="tabpanel" aria-labelledby="gameHistory-tab">
            
            <%- include("./gameHistoryTab") %>

          </div>

        </div>
        <!--./stats tab-->

        <% } else { %>
            <div style="padding: 20px; text-align: center;">
                <h1>no results</h1>
            </div>
            <%- include("../search"); %>
        <% } %>

        
    </div>

    <!-- End your project here-->

    <%- include("../footer") %>

    <script>
      $(function() {
        $('#statsTab a').on('click', function (e) {
          e.preventDefault()
          $(this).tab('show')
        })

        if($("#lineChart")[0]){
          var cha = $("#lineChart")[0].getContext('2d');

          $.ajax({
            url: `/api/player/chipLog?nick=${$("#nick").text()}`,
            type: "get",
          })
          .done((chartSet) => {
            new Chart(cha, chartSet);
          })
          .fail((request, status, error) => {
              alert(request.responseText);
          });
        }
      })
    </script>


    </body>
</html>
